@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: ‘Noto Sans TC’, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 350;
}

.top{
    background-color: white;
    position: fixed;
    top: 0;
    left: 190px;
    padding: 20px;
    border-bottom-left-radius: 0.3cm;
    border-bottom-right-radius: 0.3cm;
    z-index: 2;
}

.top_img{
    width: 350px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
}

.top_img1{
    position: relative;
    width: 120px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.top_img2{
    position: relative;
    width: 140px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.top_img3{
    position: relative;
    width: 200px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.top_img4{
    position: relative;
    width: 125px;
    height: 50px;
    padding-left: 10px;
}

.button{
    position: relative;
    top: 80px;
    left: 0px;
    color: black;
    background-color:#F5F5F5;
    padding: 25px 80px;
    font-size: 25px;
    border: none;
    transition: all 0.3s ease-in-out;

}

.button:hover{
    background-color: #b92804;
    color: white;
    font-weight: bold;
}

.header{
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: #f8efec;
    padding: 130px;
    margin: 0px;
    
}

.head{
    position: relative;
    top: 50px;
    left: 450px;
    font-size: 50px;
    font-family: "Trebuchet MS";
    color: #d3140d;
}

.sideleft{
    float: left;
    margin-left: 20px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        background-color: #fff;
    }
    100% {
        opacity: 1;
        background-color:  #fff;
    }
}

.int_content{
    float: left;
    position: relative;
    top: 600px;
    left: 200px;
    border-color: #f5c1ba;
    border-style: dashed;
    padding: 30px;
    width: 1000px;
    margin-top: 10px;
    text-align: center;
    background-color: #fcf8f8;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}


.e_sm_title{
    position: relative;
    left: 10px;
    top:80px;
    font-size: 50px;
    padding: 50px 30px;
    font-family: "Trebuchet MS";
    color: #e04305;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

.sm_title{
    position: relative;
    left: 10px;
    top:85px;
    font-size: 30px;
    margin-top: 10px ;
    padding: 10px 30px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}


.different{
    list-style-type: square;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    color: 	black;
    list-style-position: inside;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

.explaination{
    position: relative;
    top:300px;
    left: -450px;
    margin-top:100px ;
    margin-bottom: 100px;
    padding: 10px 30px;
    color: #919191;
    font-size: 60px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.explaination1{
    position: relative;
    top:700px;
    left:-90px;
    margin-top:100px ;
    margin-bottom: 100px;
    padding: 10px 30px;
    color: #919191;
    font-size: 60px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.explaination2{
    position: relative;
    top:1120px;
    left: -820px;
    margin-top:100px ;
    margin-bottom: 100px;
    padding: 10px 30px;
    color: #919191;
    font-size: 60px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.picture{
    width:550px;
    height: 350px;
}
.coverflow{
    position: relative;
    float:left;
    left: 400px;
    width: 550px;
    height: 350px;
    top: 150px;
    margin:10px;
    border: 2px solid #810000;
    border-style: dashed;
}
.coverflow>a{
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: silder 15s linear infinite;
            animation: silder 15s linear infinite;
}
.coverflow>a>img{
    max-width: 100%;
}
      
/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;             
}

  .coverflow>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }

  .coverflow>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
  }
/*滑入時停止播放*/
  .coverflow:hover>a{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.coverflow2{
    position: relative;
    float:left;
    left: -600px;
    width: 550px;
    height: 350px;
    top: 480px;
    margin:10px;
    border: 2px solid #810000;
    border-style: dashed;
  }
  .coverflow2>a{
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: silder 15s linear infinite;
            animation: silder 15s linear infinite;
  }
  .coverflow2>a>img{
    max-width: 100%;
  }
      
/*每個圖片各延遲5秒*/
.coverflow2>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;             
  }

  .coverflow2>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }

  .coverflow2>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
  }
/*滑入時停止播放*/
  .coverflow2:hover>a{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.coverflow3{
    position: relative;
    float:left;
    left: 680px;
    width: 550px;
    height: 350px;
    top: 500px;
    margin:10px;
    border: 2px solid #810000;
    border-style: dashed;
  }
  .coverflow3>a{
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
    -webkit-animation: silder 15s linear infinite;
            animation: silder 15s linear infinite;
  }
  .coverflow3>a>img{
    max-width: 100%;
  }
      
/*每個圖片各延遲5秒*/
.coverflow3>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;             
  }

  .coverflow3>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }

  .coverflow3>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
  }
/*滑入時停止播放*/
  .coverflow3:hover>a{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
/*動畫關鍵影格*/
@-webkit-keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.footer{
    position: relative;
    top: 1200px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #E8E8E8;

}

.pic1{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    left: -20%;
}
.pic2{
    width: 65px;
    height: 65px;
    position: relative;
    top: 10px;
    left: -10%;
}

.pic3{
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    left: 0%;
}
.text_footer1{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -20%;
    bottom: 15px;
}
.text_footer2{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -10%;
    bottom: 15px;
}
.text_footer3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 0%;
    bottom: 15px;
}

.space{
    padding: 200px;
}

