body{
    font-family: ‘Noto Sans TC’, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 350;
}

.top{
    background-color: white;
    position: fixed;
    top: 0;
    left: 190px;
    padding: 20px;
    border-bottom-left-radius: 0.3cm;
    border-bottom-right-radius: 0.3cm;
    z-index: 2;
}

.top_img{
    width: 350px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
}

.top_img1{
    position: relative;
    width: 120px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.top_img2{
    position: relative;
    width: 140px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.top_img3{
    position: relative;
    width: 200px;
    height: 50px;
    border-right-style: solid;
    border-color: #dfdede;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.top_img4{
    position: relative;
    width: 125px;
    height: 50px;
    padding-left: 10px;
}
.button{
    position: relative;
    top: 80px;
    left: 0px;
    color: black;
    background-color:#F5F5F5;
    padding: 25px 100px;
    font-size: 25px;
    border: none;
    transition: all 0.3s ease-in-out;

}

.button:hover{
    background-color: #fab319;
    color: white;
    font-weight: bold;
}

.button1{
    position: relative;
    top: 80px;
    left: 0px;
    color: black;
    background-color:#F5F5F5;
    padding: 25px 80px;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.button1:hover{
    background-color: #fab319;
    color: white;
    font-weight: bold;
}

.header{
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: #f8f5ea;
    padding: 130px;
    margin: 0px;
    
}

.head{
    position: relative;
    top: 50px;
    left: 400px;
    font-size: 50px;
    font-family: "Trebuchet MS";
    color: #f89501;
}

.sideleft{
    float: left;
    margin-left: 20px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        background-color: #fff;
    }
    100% {
        opacity: 1;
        background-color:  #fff;
    }
}


.int_content1 {
    float: left;
    position: relative;
    top: 100px;
    left: 30px;
    border-color: #fadaaa;
    border-style: dashed;
    padding: 30px;
    width: 1000px;
    margin-top: 10px;
    overflow: auto;
    background-color: #fcf9f5;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}


table{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table,th,tr,td{
    border: 1px solid #a8a7a7;
    border-collapse: collapse;
    text-align: center;
}

th,td,tr{
    padding: 10px 30px;
}

.e_sm_title{
    position: relative;
    left: 10px;
    top:80px;
    font-size: 50px;
    padding: 50px 30px;
    font-family: "Trebuchet MS";
    color: #fab622;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

.sm_title{
    position: relative;
    left: 10px;
    top:85px;
    font-size: 30px;
    color: black;
    margin-top: 10px ;
    padding: 10px 30px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

li{
    list-style-type: decimal;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    color: 	#fcc203;
    list-style-position: inside;
    letter-spacing: 3px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

.different1 {
    list-style-type: square;
    font-size: 20px;
    font-weight: bold;
    color: black;
    list-style-position: inside;
    text-decoration: none;
    text-align: left;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    line-height: 50px;
}

.explaination{
    position: relative;
    top:100px;
    left: 10px;
    margin:100px 50px ;
    padding: 10px 30px;
    color: #919191;
    font-size: 20px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
    line-height: 50px;
}

p{
    font-size: 20px;
    text-indent: 1cm;
    line-height: 1.5cm;
    color: #636363;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;/*只播一次*/ 
}

.footer{
    position: relative;
    top: 630px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #E8E8E8;

}

.pic1{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    left: -50%;
}
.pic2{
    width: 65px;
    height: 65px;
    position: relative;
    top: 10px;
    left: -40%;
}

.pic3{
    width: 60px;
    height: 60px;
    position: relative;
    top: 10px;
    left: -30%;
}
.text_footer1{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -50%;
    bottom: 15px;
}
.text_footer2{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -40%;
    bottom: 15px;
}
.text_footer3{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 68%;
    bottom: 15px;
    top:30px;
}
.space{
    padding: 80px;
}